<%= form_with model: @addon,class:"form-horizontal" do |f| %>
  <%= f.hidden_field :restaurant_id, value: current_employee.restaurant_id %>

  <div class="form-body">
    <div class="form-group row">
      <%= f.label :title,class:"control-label text-right col-md-3" %>

      <div class="col-md-5">
        <%= f.text_field :title,class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :price,class:"control-label text-right col-md-3" %>

      <div class="col-md-5">
        <%= f.text_field :price,class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :is_available,"Available",class:"control-label text-right col-md-3" %>

      <div class="col-md-5">
        <div class="col-md-5">
          <div class="custom-control custom-radio radio-primary custom-control-inline">
            <%= f.radio_button :is_available, true,class:"custom-control-input"  %>
            <%= f.label :is_available_true, "Yes",class:"custom-control-label" %>
          </div>

          <div class="custom-control custom-radio radio-primary custom-control-inline">
            <%= f.radio_button :is_available, false,class:"custom-control-input"  %>
            <%= f.label :is_available_false, "No",class:"custom-control-label" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer bg-light">
    <div class="form-actions">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="offset-sm-3 col-md-5">
              <%= f.submit "Create",class:"btn btn-primary btn-rounded" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
