<div class="content">
  <section class="page-content container-fluid">

    <%= link_to addons_path,class:"btn btn-info btn-floating col-md-1" do %>
      <span>Back</span>
    <% end %></br>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table id="bs4-table" class="table table-striped table-bordered tbl" style="width:100%">
              <tr>
                <th>Title</th>
                <td><%= @addon.title.titleize %></td>
              </tr>
              <tr>
                <th>Price</th>
                <td><%= @addon.price %></td>
              </tr>
              <tr>
                <th>Available</th>

                <td>
                  <span class="<%= @addon.is_available ? 'badge badge-primary': "badge badge-secondary" %>">
                    <%= @addon.is_available ? "Yes": "No" %>
                  <span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
